@model MVCOnlineTicariOtomasyon.Models.SINIFLAR.SatışHaretket
@{
    ViewBag.Title = "YeniÜrün";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Satış Sayfası</h2>

<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.ÜrünId)
    <input type="text" name="ÜrünID" value="@ViewBag.dgr1" class="form-control" readonly />
    <br />
    @Html.LabelFor(x => x.PersonelId)
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariId)
    @Html.TextBoxFor(x => x.CariId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    <input type="number" class="form-control" max="10" min="1" placeholder="Adet Girin" id="txt1" onchange="sum();" name="Adet" />
    <br />
    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.dgr2" class="form-control" id="txt2" onkeyup="sum();" dirname="Adet" />
    <br />
    <br />

    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar" value="0" class="form-control" id="txt3" readonly />
    <br />

   
    <button class="btn btn-primary">SATIŞ YAP</button>
</form>
<br />
<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuç = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(sonuç)) {
            document.getElementById('txt3').value = sonuç;

        }
    }
</script>
