@model MVCOnlineTicariOtomasyon.Models.SINIFLAR.Ürün
@{
    ViewBag.Title = "ÜrünGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Ürün Güncelleme</h2>
<br />
@using (Html.BeginForm("ÜrünGüncelle", "Ürün", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ÜrünID)
    @Html.LabelFor(x => x.ÜrünAd)
    @Html.TextBoxFor(x => x.ÜrünAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Marka)
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stok)
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.AlışFiyat)
    @Html.TextBoxFor(x => x.AlışFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SatışFiyat)
    @Html.TextBoxFor(x => x.SatışFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ÜrünGörsel)
    @Html.TextBoxFor(x => x.ÜrünGörsel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Durum)
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">GÜNCELLE</button>
}
