@using MVCOnlineTicariOtomasyon.Models.SINIFLAR
@model List<Cari>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
      <tr>
          <th>CARİ ID</th>
          <th>AD</th>
          <th>SOYAD</th>
          <th>ŞEHİR</th>
          <th>MAİL</th>
          <th>SİL</th>
          <th>GÜNCELLE</th>
          <th>DETAYLAR</th>
      </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.CariID</td>
                    <td>@x.CariAd</td>
                    <td>@x.CariSoyAd</td>
                    <td>@x.CariŞehir</td>
                    <td>@x.CariMail</td>
                    <td><a href="/Cari/CariSil/@x.CariID" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Cari/CariGeir/@x.CariID"class="btn btn-success">GÜNCELLE</a></td>
                    <td><a href="/Cari/MüşteriSatış/@x.CariID" class="btn btn-default" style="background-color:darkkhaki">SATIŞ GEÇMİŞİ</a></td>
                </tr>

            }
</table>
<a href="/Cari/YeniCari"class="btn btn-primary">CARİ EKLE</a>
